<?php 
/*[5:46:29 AM][6 ms]*/ SHOW DATABASES; 
/*[5:46:33 AM][0 ms]*/ USE `information_schema`; 
/*[5:46:42 AM][0 ms]*/ USE `mysql`; 
/*[5:46:42 AM][0 ms]*/ USE `performance_schema`; 
/*[5:46:42 AM][0 ms]*/ USE `phpmyadmin`; 
/*[5:46:42 AM][0 ms]*/ USE `test`; 
/*[5:46:47 AM][0 ms]*/ USE `phpmyadmin`; 
/*[5:46:47 AM][0 ms]*/ USE `performance_schema`; 
/*[5:46:47 AM][0 ms]*/ USE `phpmyadmin`; 
/*[5:46:47 AM][0 ms]*/ USE `test`; 
/*[5:46:48 AM][0 ms]*/ USE `phpmyadmin`; 
/*[5:46:48 AM][0 ms]*/ USE `performance_schema`; 
/*[5:46:48 AM][0 ms]*/ USE `mysql`; 
/*[5:46:49 AM][0 ms]*/ USE `information_schema`; 
/*[5:46:49 AM][0 ms]*/ USE `mysql`; 
/*[5:46:50 AM][0 ms]*/ USE `performance_schema`; 
/*[5:46:50 AM][0 ms]*/ USE `mysql`; 
/*[5:47:13 AM][0 ms]*/ USE `test`; 
/*[5:47:15 AM][2 ms]*/ SHOW FULL TABLES FROM `test` WHERE table_type = 'BASE TABLE'; 
/*[6:17:42 AM][1 ms]*/ SHOW CHARSET; 
/*[6:17:42 AM][3 ms]*/ SHOW COLLATION; 
/*[6:17:51 AM][1 ms]*/ CREATE DATABASE `coinpayments`; 
/*[6:17:52 AM][3 ms]*/ SHOW DATABASES; 
/*[6:17:52 AM][0 ms]*/ USE `coinpayments`; 
/*[6:17:55 AM][1 ms]*/ SHOW FULL TABLES FROM `coinpayments` WHERE table_type = 'BASE TABLE'; 
/*[6:17:57 AM][1 ms]*/ SHOW CHARSET; 
/*[6:21:29 AM][25 ms]*/ CREATE TABLE `coinpayments`.`create_transaction`( `id` INT(11) NOT NULL AUTO_INCREMENT, `amount` VARCHAR(100), `currency` VARCHAR(20), `address` VARCHAR(200), `auto_confirm` INT(1), `ipn_url` VARCHAR(250), `invoice` VARCHAR(100), PRIMARY KEY (`id`) ); 
/*[6:21:31 AM][1 ms]*/ SHOW FULL TABLES FROM `coinpayments` WHERE table_type = 'BASE TABLE'; 
/*[6:21:31 AM][0 ms]*/ SHOW FULL TABLES FROM `coinpayments` WHERE table_type = 'BASE TABLE'; 
/*[6:21:31 AM][1 ms]*/ SHOW CHARSET; 
/*[6:21:31 AM][1 ms]*/ SHOW TABLE STATUS FROM `coinpayments` LIKE 'create_transaction'; 
/*[6:21:31 AM][0 ms]*/ SHOW CHARSET; 
/*[6:21:31 AM][3 ms]*/ SHOW FULL FIELDS FROM `coinpayments`.`create_transaction`; 
/*[6:21:31 AM][0 ms]*/ SHOW CREATE TABLE `coinpayments`.`create_transaction`; 
/*[6:21:31 AM][0 ms]*/ SHOW KEYS FROM `coinpayments`.`create_transaction`; 
/*[6:21:31 AM][4 ms]*/ SHOW COLLATION; 
/*[6:21:54 AM][2 ms]*/ SHOW DATABASES; 
/*[6:22:02 AM][0 ms]*/ SHOW TABLE; 
/*[6:22:03 AM][0 ms]*/ SHOW TABLE; 
/*[6:22:09 AM][0 ms]*/ SHOW DATABASES TABLE; 
/*[6:22:13 AM][2 ms]*/ SHOW DATABASES; 
/*[6:22:20 AM][0 ms]*/ SHOW TABLE; 
/*[6:22:29 AM][0 ms]*/ SHOW coinpayments TABLE; 
/*[6:22:54 AM][1 ms]*/ SHOW FULL TABLES FROM `coinpayments`; 
/*[6:23:07 AM][0 ms]*/ SHOW TABLE FROM `coinpayments`; 
/*[6:23:10 AM][0 ms]*/ SHOW TABLE `coinpayments`; 
/*[6:23:12 AM][0 ms]*/ SHOW TABLE; 
/*[6:23:27 AM][0 ms]*/ SHOW DATABASES TABLE; 
/*[6:23:29 AM][0 ms]*/ DATABASES TABLE; 
